:root {
    --line-border-empty:#e0e0e0;
}

body {
 background-color: var(--line-border-empty);
 height: 90vh;
}
#container {
    max-width: 1200px;
    margin: 0px auto;
    width: 100vh;
    height: 10vh;
}
#container-progress {
    width: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress {

}

.circle {
    /* padding: 1%; */
    color: black;
    border: 1px solid red;
    width: 30px;
    height: 30px;
}